.main-contaniner{
	display: inline-block;
}

.display-container{
	width:80%;
	display: inline-block;
}

.category-container{
	display: inline-block;
	float: left;
	width: 20%;
}

.dnavbar{
	display: inline-block;
	width: 80%;
	text-align: center;
	margin: 10px;
}

.logout{
	display: inline-block;
	float: right;
}

.brand{
	display: inline-block;
}
